<%- include('includes/header.ejs') %>
    <body>
        <%- include('includes/navigation.ejs') %>
        <div class="container">
            <br>
            <%- messages('includes/message', locals) %>
            <% if(errors) {
                for (let error of errors) {
            %>
            <div class="alert alert-danger"><%= error.msg %></div>
            <%  } 
            }%>
        <form class="product-form col-lg-6"  method="POST" action="/users/edit/<%= user._id %>">
                <h3> My Profile </h3>
                <% if( user.profilePicture != undefined ) { %>
                <img src="/<%= user.profilePicture %>" alt="" style="height: 200px; width: 200px; border-style: solid">
                <% } else { %>
                <img src="/display-pic.png" alt="" style="height: 200px; width: 200px; border-style: solid">
                <% } %>
                <br>
                <br>
                <div class="form-group">
                        <label for="FullName">FullName</label>
                        <input class="form-control" type="text" name="name" id="name" value="<%= user.name %>">
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input class="form-control" type="text" name="email" id="email" value="<%= user.email %>">
                    </div>
                    <div class="form-group">
                        <label for="Email">Username</label>
                        <input class="form-control" type="text" name="username" id="username" value="<%= user.username %>">
                    </div>
                    <div class="form-group">
                        <label for="Email">Password</label>
                        <input class="form-control" type="password" name="password" id="password">
                    </div>
                    <div class="form-group">
                        <label for="Email">Confirm Password</label>
                        <input class="form-control" type="password" name="password2" id="password2">
                    </div>
                    <button class="btn btn-success" type="submit" value="Submit">Save Changes</button>

                </form>
        </div>
            
        </body>
    </html>