<%- include('includes/header.ejs') %>
    <body>
        <%- include('includes/navigation.ejs') %>
        <div class="container">
        <h3> My Profile </h3>
        <img src="/<%= user.profilePicture %>" alt="Sexy Sanket" style="width:200px;height:200px;">
        <br>
        <br>
        <br>
        <p>FullName: <%= user.name %></p>
        <p>Email: <%= user.email %></p>
        <p>Username: <%= user.username %></p>

        <a class="btn btn-success"  href="/users/edit/<%= user._id %>">Edit Profile</a>
</div>
</body>
</html>
       