<%- include('includes/header.ejs') %>

<body>
<%- include('includes/navigation.ejs') %>
    <div class="container">
    <br>
    <h3> My Profile </h3>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <% if( user.profilePicture != undefined ) { %>
            <img src="/<%= user.profilePicture %>" alt="" style="height: 200px; width: 200px; border-style: solid">
            <% } else { %>
            <img src="/display-pic.png" alt="" style="height: 200px; width: 200px; border-style: solid">
            <% } %>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <label for="Email">FullName:</label>
                <input class="form-control" type="text" value="<%= user.name %>" disabled="true">
            </div>
            <div class="form-group">
                <label for="Email">Username</label>
                <input class="form-control" type="text" value="<%= user.username %>" disabled="true">
            </div>
            <div class="form-group">
                <label for="Email">Email:</label>
                <input class="form-control" type="text" value="<%= user.email %>" disabled="true">
            </div>
        </div>
</div>
<a class="btn btn-success" href="/users/edit/<%= user._id %>">Edit Profile</a>


</div>
</body>
</html>
       