<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Blog Engine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link <%= path === '/homePage' ? 'active' : '' %>" href="/">Home</a>
                </li>
                <% if(user) { %>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/addArticle' ? 'active' : '' %>" href="/articles">Add Article</a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/contact' ? 'active' : '' %>" href="/users/contact-us">Contact Us</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link <%= path === '/about' ? 'active' : '' %>" href="/about-us">About Us</a>
                    </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(!user) { %>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/register' ? 'active' : '' %>" href="/users/register">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/login' ? 'active' : '' %>" href="/users/login">Login</a>
                </li>
                <% } %>
                <% if(user) { %>
                    <li class="nav-item">
                        <a class="nav-link <%= path === '/profile' ? 'active' : '' %>" href="/users/view/<%= user._id %>">View Profile</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout">Logout</a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js'></script>
    <script src='/js/main.js'></script>
    